.categories{
    background-color: white;
    min-height: 43px;
    height: auto;
    box-shadow: rgb(152, 152, 152) 0px 5px 11px -5px
    
    
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.822);
    font-weight: 500;
}
.span3{
    font-weight: 600;
}
.carousel-img{
    
    
}

.fa-angle-down {
    transition: all 0.3s;
}

.dropdown-active .fa-angle-down {
    transform: rotate(180deg);
}
