li{
    list-style: none;
}

._8918c0a8{
    font-weight: 400;
    font-size: 12px;
}

.f-container {
    background-color: #EBEEEF;
    border: 1px solid #b7b1b16e

}

._2e82a662 {
    margin-left: 31px;
}

.ac2bfae3{
    margin-right: 10px;
    margin-top: 12px;
}

.last-rwo {
    background-color:#002f34;
    color: white;
    font-size: 12px;
    padding: 12px;
    font-weight: 400;
}
.main-z{
    overflow-x: hidden;
}


@media(max-width:1180px){
    .display{
        visibility: hidden;
    }
}